lib-cov
*.seed
*.csv
*.dat
*.out
*.pid
*.gz
*.swp

pids
results
tmp
.node-xml*

# API keys and secrets
.env

# Dependency directory
node_modules
bower_components

# Editors
.idea
*.iml
.vscode

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
dist/**/*

# Coverage
coverage

# Logs
*.log
logs

# Data
/storage
/thumbnail
.yarn

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
dump.rdb
