services:
  relay:
    container_name: relay
    build: .
    volumes:
      - relay-storage:/storage
      - relay-thumbnails:/thumbnail
    ports:
      - '3000:3000'
    environment:
      - INBOX_STORAGE=/storage
      - INBOX_THUMBNAIL_STORAGE=/thumbnail
      - RABBITMQ_CLIENT=amqp://rabbitmq:5672
      - REDIS_URL=redis://redis:6379
    depends_on:
      rabbitmq:
        condition: service_healthy
      redis:
        condition: service_healthy

  rabbitmq:
    container_name: rabbitmq
    build: ./docker/rabbitmq
    healthcheck:
      test: ['CMD', 'rabbitmqctl', 'status']
      interval: 30s
      timeout: 10s
      retries: 5
    ports:
      - '5672:5672'
      - '15672:15672' # Management UI

  redis:
    container_name: redis
    image: redis:7-alpine
    volumes:
      - relay-redis:/data
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - '6379:6379'

volumes:
  relay-storage:
  relay-thumbnails:
  relay-redis:
